@model List<KeyValuePair<string, string>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin: 100px">
    <h1 class="display-4">Payten Hash Version 3</h1>
    <a asp-action="GenerateCheckoutForm" asp-controller="Home" class="btn btn-primary btn-lg" style="margin-top: 50px">Ödeme başlatmak için tıklayın</a>
</div>