@model PaymentErrorModel

@{
    ViewBag.Title = "Fail";
    Layout = "_Layout";
}

@section Styles
{
    <style>
        .card{
            background: rgba(222,222,222,0.8);
            padding: 60px;
            border-radius: 10px;
            box-shadow: 0 2px 3px #b40303;
            margin: 0 auto;
            height: auto;
            width: 70%;
            text-align: center;
        }
        /*card-body içerisinden yazıların taşmasını engellemek için*/
        .card-body{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

<div class="card">
    <div class="card-body">
        <h3>Ödeme Tamamlanamadı!</h3>
        <strong>Detaylar</strong><br/>
        <p>@Model.ErrorMessage</p><br/>
        <p>@Model.ErrorCode</p><br/>
        <p>
            <strong>Tüm parametreler:</strong><br/>
            @Model.AllParameters
        </p>
    </div>
</div>